@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

.home-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
}

.home-container p{
    line-height: 1.5rem;
}

.home-content{
    max-width: 100%;
    margin-top: 1rem;
    margin-left: 0.5rem;
}

.title h1{
    font-size: 38px;
    color: #5379f6;
}

.cta button{
    border: 0;
    border-radius: 0.5rem;
    padding: 0.9rem 1.3rem;
    margin-top: 1.5rem;
    font-weight: 600;
    background-color: #5379f6;
    transition: all 0.3s;
}

.cta button:hover{
    background-color: #2f5ef9;
}

.cta a{
    color: white;
}

.home-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.home-icon img{
    max-width: 100%;
    width: 500px;
    height: auto;
}

/* FEATURES SECTION */

.box{
    display: flex;
    flex-direction: column;
    grid-gap: 7px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.resources-sec h2{
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 3.6rem;
}

.box ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin: 60px 0;
}

.box li{
    display: flex;
    text-align: center;
    flex-direction: column;
    border-radius: 4px;
    margin: 0.5rem;
    padding: 18px;
    background: #5379f6;
    color: white;
    max-width: 100%;
    width: 300px;
}

.box li strong{
    font-size: 19px;
    margin-bottom: 10px;
}

.box li p{
    font-size: 15px;
}

@media screen and (max-width: 1000px){
    .box ul{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0;
        margin-top: 20px;
    }
}

/* ABOUT SECTION */

.about-sec-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    background-color: #728de8;
}

.about-sec-content{
    max-width: 100%;
    margin-top: 1rem;
    margin-left: 0.5rem;
}

.about-sec-content .description-text{
    width: 500px;
    height: auto;
    padding: 1.5rem;
    border-radius: .4rem;
    background-color: #eee;
}

.about-sec-title{
    text-align: center;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    font-size: 24px;
    color: #eee;
}

.img-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.img-section img{
    max-width: 100%;
    width: 450px;
    height: auto;
}

.social-media{
    display: flex;
    align-items: center;
    margin-top: .8rem;
}

.social-media a{
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social-media a svg{
    margin-right: .5em;
    margin-left: .5em;
}

@media screen and (max-width: 1000px){
    .about-sec-container{
        display: block;
        margin: auto;
        padding-top: 50px;
    }

    .about-sec-content{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        max-width: 100%;
    }

    .about-sec-content .description-text{
        width: 400px;
    }

    /* .img-section{
        display: block;
        margin: auto;
        width: 100%;
    } */
}